body
{
  font-family: sans-serif;
  background: #444;
  color: #fff;
  margin: 25px;
}
.apps
{
  text-align: center;
}
.apps .app
{
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  color: inherit;
  width: 64px;
}
.apps .app .icon
{
  display: block;
  width: 64px;
  height: 64px;
  margin: 0px;
  padding: 0px;
}
.apps .app .caption
{
  padding: 0px;
  margin: 1ex 0px;
}

/* vim: ts=2:sts=2:sw=2:et:fdm=indent
 */
